@font-face {
    font-family: names;
    src: url("../assets/fonts/Tinos-Bold.ttf");
}

.contenedor-testimonio {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 10px 10px 10px grey;
    border-radius: 8px;
}

.imagen-testimonio {
    height: 100%;
    width: auto;
    border-radius: 8px;
}

.contenedor-texto-testimonio {
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

.nombre-testimonio {
    color: rgb(62, 19, 102, 0.8);
    font-weight: bold;
    text-decoration: underline;
    font-family: names;
    font-size: 20pt;
}

.cargo-testimonio {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 15px;
}

.texto-testimonio {
    font-size: 1.1rem;
    text-align: justify;
}